<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card pa-10">
                    <v-form
                        ref="form"
                        v-model="valid"
                        lazy-validation
                    >
                        <v-text-field
                            v-model="name"
                            :rules="nameRules"
                            label="Название"
                            required
                            class="mb-5"
                        ></v-text-field>

                        <v-textarea
                            v-model="comment"
                            :rules="commentRules"
                            label="Комментарий для модератора"
                            class="mb-5"
                        ></v-textarea>

                        <h4>Вопросы:</h4>
                        <question-create-form list="questionsList"/>
                        <question v-for="(question, index) in questions" :key="question.id" :question="question"
                                  :index="index"/>

                        <br>

                        <v-btn
                            :disabled="!valid"
                            color="success"
                            class="mr-4"
                            @click="validate"
                        >
                            Сохранить
                        </v-btn>
                    </v-form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Question from "./Question";
    import QuestionCreateForm from "./QuestionCreateForm";

    export default {
        data: () => ({
            valid: true,

            name: '',
            nameRules: [
                v => !!v || 'Поле обязательно',
            ],

            comment: '',
            commentRules: [
                v => !!v || 'Поле обязательно',
            ],

            selectQuestion: null,
            questions: [],

            questionsIdCounter: 0,
        }),

        components: {
            Question, QuestionCreateForm
        },

        provide: function () {
            return {
                addQuestion: this.addQuestion,
                removeQuestion: this.removeQuestion,
                getQuestions: this.getQuestions,
                removeQuestionInArray: this.removeQuestionInArray,
                addQuestionInArray: this.addQuestionInArray,
                getNameQuestion: this.getNameQuestion
            }
        },

        methods: {
            validate() {
                if (this.$refs.form.validate()) {
                    //axios
                }
            },
            getQuestions: function (id) {
                let questions = [];
                this.questions.forEach((element, index) => {
                    if (element.id > id) questions.push({id: element.id, name: '№' + (index + 1)});
                });
                return questions;
            },
            addQuestion: function (text, skipQuestionsIds) {
                this.questionsIdCounter++;
                this.questions.push({
                    id: this.questionsIdCounter,
                    text,
                    skipQuestionsIds
                });
            },
            removeQuestion: function (id) {
                let questionIndex = this.questions.findIndex((questionInArray) => id == questionInArray.id);
                if (questionIndex > -1) {
                    this.questions.forEach(element => {
                        if (element.skipQuestionsIds.length > 0) {
                            element.skipQuestionsIds.forEach(questionId => {
                                if (questionId == id) {
                                    let questionIndex2 = element.skipQuestionsIds.findIndex((questionInArrayId) => id == questionInArrayId);
                                    if (questionIndex2 > -1) element.skipQuestionsIds.splice(questionIndex2, 1);
                                }
                            });
                        }
                    });

                    this.questions.splice(questionIndex, 1);
                }
            },
            removeQuestionInArray: function (id, id2) {
                let questionIndex = this.questions.findIndex((questionInArray) => id == questionInArray.id);
                if (questionIndex > -1) {
                    let questionIndex2 = this.questions[questionIndex].skipQuestionsIds.findIndex((questionInArrayId) => id2 == questionInArrayId);
                    if (questionIndex2 > -1) {
                        this.questions[questionIndex].skipQuestionsIds.splice(questionIndex2, 1);
                    }
                }
            },
            addQuestionInArray: function (id, id2) {
                let questionIndex = this.questions.findIndex((questionInArray) => id == questionInArray.id);
                if (questionIndex > -1) {
                    let questionIndex2 = this.questions[questionIndex].skipQuestionsIds.findIndex((questionInArrayId) => id2 == questionInArrayId);
                    if (questionIndex2 == -1) {
                        this.questions[questionIndex].skipQuestionsIds.push(id2);
                    }
                }
            },
            getNameQuestion(id) {
                let questionIndex = this.questions.findIndex((questionInArray) => id == questionInArray.id);
                if (questionIndex > -1) {
                    return '№' + (questionIndex + 1);
                }
            },
        },
    }
</script>
