<template>
    <div class="container card mb-2">
        <div class="row">
            <div class="col-md-10">№{{index + 1}}(id:{{question.id}}) - {{question.text}}</div>
            <div class="col-md-2 remove-question" @click="removeQuestion(question.id)">
                <v-icon>mdi-close-circle</v-icon>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <v-form ref="selectQuestion">
                    <v-select
                        :items="questions"
                        item-text="name"
                        item-value="id"
                        label="Вопросы на пропуск"
                        @change="selectQuestion"
                    ></v-select>
                </v-form>

                <div class="" v-if="question.skipQuestionsIds.length > 0">
                    Вопросы на пропуск:
                    <span class="question" v-for="skipQuestionId in question.skipQuestionsIds"
                          :key="skipQuestionId">
                             {{getNameQuestion(skipQuestionId)}}
                             <v-icon @click="removeQuestionInArrayLocal(skipQuestionId)">mdi-close-circle</v-icon>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['question', 'index'],
        inject: ['removeQuestion', 'getQuestions', 'removeQuestionInArray', 'addQuestionInArray', 'getNameQuestion'],

        computed: {
            questions: function () {
                return this.getQuestions(this.question.id);
            }
        },

        methods: {
            selectQuestion(id) {
                this.addQuestionInArray(this.question.id, id);
                this.$refs.selectQuestion.reset();
            },
            removeQuestionInArrayLocal(id) {
                this.removeQuestionInArray(this.question.id, id);
            },
        },
    }
</script>
