<template>
    <div class="mb-5">
        <v-form
            ref="formQuestion"
            v-model="validQuestionForm"
            lazy-validation
        >
            <v-textarea
                v-model="text"
                :rules="textRules"
                label="Текст вопроса"
                class="mb-5"
            ></v-textarea>
        </v-form>

        <v-btn
            :disabled="!validQuestionForm"
            class="mr-4"
            @click="createQuestion"
        >
            Добавить вопрос
        </v-btn>
    </div>
</template>

<script>
    export default {
        data: () => ({
            validQuestionForm: true,

            text: '',
            textRules: [
                v => !!v || 'Поле обязательно',
            ],

            skipQuestionsIds: [],
        }),

        inject: ['addQuestion'],

        methods: {
            createQuestion() {
                if (this.$refs.formQuestion.validate()) {
                    this.addQuestion(this.text, this.skipQuestionsIds);
                    this.text = '';
                    this.skipQuestionsIds = [];
                    this.$refs.formQuestion.reset();
                }
            }
        },
    }
</script>
