// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//vuetify
@import '~vuetify/dist/vuetify.min.css';

//materialdesignicons
@import '~@mdi/font/css/materialdesignicons.min.css';

.question {
    border: 1px solid gainsboro;
    border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    padding: 7px;
    display: inline-block;
    margin-right: 10px;
}

.remove-question {
    i {
        cursor: pointer;
        float: right;
    }
}
